@media screen and (max-width:500px) {
    #top{
    height: 15%;
    }
    #top >div:nth-child(1){
        height: 70%;
    }
    #top >div:nth-child(2){
        height: 30%;
        
    }
    #top >div:nth-child(1) i {
        font-size: 10vw;
    }
    #top >div:nth-child(1) h1{
        font-size: 8vw;
    }
    #todo{
        width:60%;
        font-size: 3vw;
    }
    #date{
        width:25%;
        font-size: 3vw;
    }
    #ad{
        width:10%;
        height: 90%;
        font-size: 2vw;
    }
    
}