*{
    margin:0;
    padding: 0;
}
#full-page{
    height: 100vh;
    width: 100%;
    background-color: #f8f9fa;
    /* border: 1px solid red; */
}
#top{
    height: 20%;
    width: 100%;
    /* border: 1px solid red; */
}
#top >div{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top >div:nth-child(1) i ,h1{
    padding: 0 0.5%;
    color: #007bff;
}
#top >div:nth-child(1) i {
    font-size: 4vw;
}
#top >div:nth-child(1) h1{
    font-size: 3vw;
    text-decoration: underline;
}
#top >div:nth-child(2) >div{
    width: 90%;
    height: 70%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#todo{
    height: 100%;
    width: 90%;
    padding: 0 1%;
    border: none;
    outline: none;
    font-size: 1vw;
}
#date{
    width:1.5%;
    height: 100%;
    border: none;
    outline:none;
    color:blue;
    font-size: 1.4vw;
}
#ad{
    width:5%;
    height: 65%;
    border: none;
    color:white;
    background-color: #007bff;
    border-radius: 5px;
    font-size: 1vw;
}
#bot{
    /* border: 1px solid red; */
    height: 80%;
    width: 100%;
}